
.DS_Store
.ipynb_checkpoints/02-Setup-Flopy_and_MODFLOW-checkpoint.ipynb
.ipynb_checkpoints/03-Python_Coding_Basics-checkpoint.ipynb
.ipynb_checkpoints/04_iPython_Plotting_Tools-checkpoint.ipynb
/solutions
/nboutput
/bin
/models
/.ipynb_checkpoints
/.ipynb_checkpoints
